<header style="background-image: url('assets/img/hacker.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;" class="text-white">
  <div class="container text-center">
    <h1>Welcome to <span style="font-weight: bold">ILEDGER</span></h1>
  </div>
</header>

<section id="about" style="position:relative">
  	<a href="/login" style="position: absolute;top: 20px;left: 0px;right: 0px;margin: auto;"><md-button style="padding: 10px;margin: auto;display: -webkit-box;font-size: 1.2em;" class="md-raised md-primary">Visit Hackathon</md-button></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-2" display: flex;margin: auto;>   
      	<img style="margin: auto;" src="assets/img/about.png">
      </div>	
      <div class="col-lg-8 mx-auto">
        <h2>About Us</h2>
        <p class="lead">iLedger based in the heart of Silicon Valley, is bringing blockchain to the enterprise, working with customers, partners, and the blockchain community to continually advance its enterprise readiness. Our mission is to help companies thrive in this new era of secure multiparty collaboration by delivering platforms and services that any company—including ledger startups, retailers, health providers, and global banks—can use to improved shared business processes.</p>
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mob_display" display: flex;margin: auto;>   
      	<img style="margin: auto;" src="assets/img/blockchain.png">
      </div>
      <div class="col-lg-8 mx-auto">
        <h2>Blockchain on your terms</h2>
        <p class="lead">We build blockchain solutions that best fits your scenario with our easy-to-deploy templates for the most popular ledgers. Whether you're modeling your shared process through a single-member proof of concept or building a multimember consortium, we work on building and configuring your blockchain’s network infrastructure, so you can focus on building your workflows and smart contracts.</p>
      </div>
      <div class="col-lg-2 lap_display" display: flex;margin: auto;>   
      	<img style="margin: auto;" src="assets/img/blockchain.png">
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">   
      	<img style="margin: auto;" src="assets/img/buisness.png">
      </div>
      <div class="col-lg-8 mx-auto">
        <h2>Integrated with your business</h2>
        <p class="lead">Build and connect distributed applications, and integrate Blockchain with the cloud services and tools your organization already uses to manage its shared business processes.</p>
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mob_display" display: flex;margin: auto;>   
        <img style="margin: auto;margin-top: 0px" src="assets/img/enterprise2.png">
      </div>
      <div class="col-lg-8 mx-auto">
        <h2>Ready for enterprise</h2>
        <p class="lead">iLedger is working to bridge enterprise gaps in blockchain technology, making it easier to get from pilot to production. We help our customers to build apps that deliver the scalability and distributed governance enterprises need without sacrificing the security and immutability they expect.</p>
      </div>
      <div class="col-lg-2 lap_display" display: flex;margin: auto;>   
        <img style="margin: auto;margin-top: 0px" src="assets/img/enterprise3.png">
      </div>
    </div>
  </div>
</section>


<section id="contact">
  <div class="container">
    <div class="row">
      <div col-lg-8 display: flex;margin: auto;>   
      	<img style="margin: auto;" src="assets/img/contact.jpg">
      </div>
      <div class="col-lg-6 mx-auto">
        <h2>Contact Us</h2>
        <p class="lead">Address:3052 San Jose, Vineyard Ct Unit 4<br>
						San Jose CA 95136<br>
					</p>
		<p>info@iledger.io</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; ILEDGER 2018</p>
  </div>
  <!-- /.container -->
</footer>

